fastapi
uvicorn
sqlalchemy
pydantic[email]
email-validator
passlib[bcrypt]
python-multipart
jinja2
itsdangerous
mistralai
slowapi
python-dotenv
psycopg2-binary
python-jose[cryptography]
resend
bcrypt==4.0.1
cloudinary